bind 0.0.0.0
port 6379

# memory
maxmemory 2gb
maxmemory-policy allkeys-lru

# persistence off
save ""
appendonly no

# docker
daemonize no

# networking
tcp-keepalive 60
timeout 0

# logging
loglevel notice

# security
protected-mode no